* {
	box-sizing: border-box;
	padding: 8px;
}


img {
	padding: 10px;
}

h3 {
	margin: auto;
	padding: 10px;
}

ul {
	list-style: none;
	line-height: 0.2;
	padding-left: 0px;
}

span {
	font-weight: bold;
}

p {
	padding-left: 11px;
}

.big-picture {
	border-style: groove;
	width: 340px;
	box-shadow: 10px 10px 5px #888888;
	border-width: 1px;
}

.container {
	margin: auto;
	border-style: groove;
	width: 300px;
	border-width: 1px;
	padding-left: 4px;
}